body {
    background-color: lightgray;
    text-align: center;
    display: block;
    line-height: 1.15;
  }
  
  .introline {
    font-weight: bold;
    font-size: 1.15rem;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .img-div {
    margin: auto;
    max-width: 66%;
    background-color: white;
    padding: 20px;
    box-shadow: 7.5px 5px #888888;
  }
  
  .credit-anchor {
    text-decoration: none;
    color: rgb(127,127,127);
    font-weight: 600;
  }
  
  figcaption {
    padding-top: 10px;
  }
  
  li {
    text-align: left;
    padding-bottom: 5px;
  }
  
  ul {
    display: table;
    margin: 0 auto;
  }
  
  .bld {
    font-weight: bold;
  }
  
  .singh-quote {
    font-style: italic;
    text-align: left;
  }
  
  .infobody {
    display: inline-block;
    min-width: 50%;
    max-width: 66%;
    margin: 0 auto;
  }
  
  .tribute-info {
    font-size: 1.2rem;
  }